@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
.Header p {
    transform: rotate(180deg);
    font-size: 1rem;
}
a {
    text-decoration: none;
    color: honeydew;
}
li {
    list-style: none;
    margin: 1rem;
    padding: 0.5rem;
}
ul {
    display: flex;
}

h1 {
    font-size: 3rem;
    color: honeydew;
    text-shadow: 1px 1px 2px gray;
    margin-bottom: 1rem;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 100%;
        width: 100%;
    }
}
.Hero p {
    color: honeydew;
}
button {
    background-color: grey;
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 500px 300px 150px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header Header"
      "Hero Hero"
      "Imagen-1 text-1"
      "Footer Footer";
  }
  
  .Header { grid-area: Header; 
    background-image: linear-gradient(to top, black, gray);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}
  
  .Hero { grid-area: Hero; 
    background-image: url("../imagenes/monumento.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  .Imagen-1 { grid-area: Imagen-1; 
    background-image: url("../imagenes/coffetazanegra.jpg");
    background-position: center;
    background-size: cover;
}
  
  .text-1 { grid-area: text-1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    text-align: center;
    color: blanchedalmond;
    padding: 0 3rem;
}
  
  .Footer { grid-area: Footer; 
    background-image: linear-gradient(black, gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Footer p small {
    animation-duration: 4s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
  
@media screen and (max-width:480px ) {
    * {
        margin: 0;
        padding: 0;
    }
    .Container {
        display: flex;
    }
    .Header {
        width: 100%;
        height: 100%;
        display: inline-flexbox;
        margin: -0,10rem;
        font-size: xx-small;
    }
    .text-1 {
        width: 100%;
        height: 100%;
        font-size: x-small;
        justify-content: center;
        padding: 0 0.2rem;
    }
    .Imagen-1 {
        width: 100%;
        height: 100%;
        background-image: url("../imagenes/coffetazanegra.jpg");
        background-position: center;
        background-size: cover;
    }
    }